*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 200px;
    padding: 30px;
    margin: 40px;
    border: 2px solid salmon;
    border-radius: 10px;
    box-shadow: 15px 15px 5px lightgrey;
    background-color: whitesmoke;
}

p {
    margin: 15px;
}

.buttons {
    display: inline;
}

.choice {
    color: ghostwhite;
    background-color: salmon;
    padding: 15px 30px;
    margin: 10px 20px 20px;
    border: 1px solid salmon;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(200, 65, 50);
}

button:active {
    background-color: rgb(135, 30, 20);
}

.score-state {
    display: none;
    width: 600px;
    height: auto;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    border: 2px solid salmon;
    box-shadow: 15px 15px 5px lightgrey;
    background-color: whitesmoke;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 40px;
}

.play-again {
    font-size: large;
    font-weight: 600;
    color: ghostwhite;
    display: none;
    padding: 15px 30px;
    border: 2px solid salmon;
    background-color: salmon;
    border-radius: 10px;
}

.play-again:hover {
    background-color: rgb(200, 65, 50);
    border: 2px solid rgb(200, 65, 50);
}

.play-again:active {
    background-color: rgb(135, 30, 20);
    border: 2px solid rgb(135, 30, 20);
}